<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>CFBundleDisplayName</key>
	<string>More Ram!</string>
	<key>CFBundleName</key>
	<string>More Ram!</string>
	<key>NSCameraUsageDescription</key>
	<string>More Ram uses the camera when you choose to set a custom app icon.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>More Ram uses your photos when you choose a custom app icon.</string>
</dict>
</dict>
</plist>
